.Cart

  td
    vertical-align top

  .total
    font-weight bold
    text-align right

  .remove
    &:hover
      color red

  button
    padding 5px
    font-size 14px
    display inline-block
    margin-left 5px
